<ion-header >
        <ion-toolbar color="primary">
                <ion-buttons slot="start">
                      <ion-back-button defaultHref="home"></ion-back-button>
                    </ion-buttons>
                    <div text-center>  <ion-text><h1 >Login</h1></ion-text></div>
             </ion-toolbar>
      </ion-header>
      
      
          <ion-content padding left text-left>
            <img src="assets\loginnew.jpg">
        <form (submit)="onLogin()">
            <ion-item>  
              
              <ion-input placeholder="User name" [(ngModel)]="lusername" name="lusername" ></ion-input>
            </ion-item>
            
            <ion-item>  
                <ion-input placeholder="Password" type="password" [(ngModel)]= "lpassword" name="lpassword" ></ion-input>
            </ion-item>
            
          
          <ion-button expand="full"  type="submit" color="primary">Log In</ion-button> 
          <br>
        </form>    
      </ion-content>